*{
/*transition*/
-webkit-transition:.25s ease-in-out;
   -moz-transition:.25s ease-in-out;
     -o-transition:.25s ease-in-out;
        transition:.25s ease-in-out;

font-family:helvetica neue,helvetica,arial,sans-serif;
font-size:18px;
line-height:18px;
box-sizing:border-box;
margin:0;
padding: 0;
}

/*SAM's CSS*/
					.background {
					    background-repeat: no-repeat;
					    background-size: 100%
					}
		/*NAVBAR*/
					.navbar {
					    background-color: #fff;
					    text-align: center;
					}

					.navbar a {
					    margin-left: 25px;
					    color: #000;
					    font-size: 25px;
					}
		/*CATEGORIES*/
					.categories {
					    text-align: center;
					}

					.categorysun, .categorysnow, .categorycity {
					    border: 3px solid white;
					    display: inline-block;
					    margin: 20px;
					    border-radius: 20px;
					}

					.textsun, .textsnow, .textcity {
					    text-align: center;
					    margin-top: 200px;
					    color: white;
					    text-shadow: 1px;
					}


					.categorysun {
					    width: 375px;
					    height: 600px;
						background-image: url("https://images.pexels.com/photos/358358/pexels-photo-358358.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
					    background-repeat: no-repeat;
					    background-size: cover;
					}

					.categorysnow {
					    width: 375px;
					    height: 600px;
					    background-image: url("https://static.pexels.com/photos/209955/pexels-photo-209955.jpeg");
					    background-repeat: no-repeat;
					    background-size: cover;
					}

					.categorycity {
					    width: 375px;
					    height: 600px;
					    background-image: url("https://images.pexels.com/photos/416998/pexels-photo-416998.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
					    background-repeat: no-repeat;
					    background-size: cover;
					}

		/*PROFILE*/
					.sidebar, .textprofile, .textprofile_beachlist, .textprofile_skilist, .textprofile_citylist{
					    display: inline-block;
					    border: 3px solid white;
					    border-radius: 20px;
					    margin: 20px;
					    clear: both;
					}
					.sidebar{
					    margin-top: -29px;
					    text-align: center;
					    width: 200px;
					    height: 700px;
					    box-shadow: 2px;
					    top: 50px;
					    position:relative;
					}
					.textprofile {
					    text-align:center;
					    width: 900px;
					    height: 500px;
					    background-image: url("https://images.pexels.com/photos/26681/pexels-photo-26681.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
					    background-repeat: no-repeat;
					    background-size: cover;
					    position:absolute;
					    z-index: 100px;
					}
					.textprofile_account {
					    text-align:center;
					    width: 900px;
					    height: 500px;
					    background-image: url("https://images.pexels.com/photos/26681/pexels-photo-26681.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
					    background-repeat: no-repeat;
					    background-size: cover;
					    position:absolute;
					    z-index: 100px;
					}
					.textprofile_beachlist {
					    color: white;
					    font-size: 40px;
					    text-align:center;
					    width: 900px;
					    height: 500px;
					    background-image: url("https://images.pexels.com/photos/358358/pexels-photo-358358.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
					    background-repeat: no-repeat;
					    background-size: cover;
					    position:absolute;
					    z-index: 100px;
					}
					.textprofile_skilist {
					    font-size: 40px;
					    color: white;
					    text-align:center;
					    width: 900px;
					    height: 500px;
					    background-image: url("https://static.pexels.com/photos/209955/pexels-photo-209955.jpeg");
					    background-repeat: no-repeat;
					    background-size: cover;
					    position:absolute;
					    z-index: 100px;
					}
					.textprofile_citylist {
					    color: white;
					    font-size: 40px;
					    text-align:center;
					    width: 900px;
					    height: 500px;
					    background-image: url("https://images.pexels.com/photos/416998/pexels-photo-416998.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
					    background-repeat: no-repeat;
					    background-size: cover;
					    position:absolute;
					    z-index: 100px;
					}
				

					/* Dropdown Button */
					.dropbtn, #account{
					    background-color: #C0C0C0;
					    color: white;
					    padding: 16px;
					    font-size: 16px;
					    border: solid white 1px;
					    cursor: pointer;
					    border-radius: 20px;
					}
					/* Dropdown button on hover & focus */
					.dropbtn:hover, .dropbtn:focus {
					    background-color: #CCCCCC;
					}
					/* The container <div> - needed to position the dropdown content */
					.dropdown {
					    position: absolute;
					    top: 200px;
					    left: 85px;
					   /* display: inline;*/
					}
					/* Dropdown Content (Hidden by Default) */
					.dropdown-content {
					    display: none;
					    position: absolute;
					    /*margin-top: 85px;*/
					    background-color: #f9f9f9;
					    min-width: 160px;
					    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
					    z-index: 1;
					    top: 280px;
					    left: 40px;
					}
					/* Links inside the dropdown */
					.dropdown-content a {
					    color: black;
					    padding: 12px 16px;
					    text-decoration: none;
					    display: block;
					}
					/* Change color of dropdown links on hover */
					.dropdown-content a:hover {background-color: #f1f1f1}
					/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
					.show {display:block;}

		/*FOOTER*/
					.social-links {
					    clear: both;
					    text-align: center;
					    margin-left: 20px;
					} 

					#footer1{
						clear: both;
						text-align: center;
						background: #FFFFFF;
						position: fixed;
					 	bottom:0;
					 	left:0;
					 	width: 100%;
					}

					#footer {
						clear: both;
						text-align: center;
						background: #FFFFFF;
					 	bottom:0;
					 	left:0;
					}  	
/*END SAM's CSS*/

body.backgroundindex{
	background-repeat: no-repeat;
    background-size: cover;
	background-image: url(https://static.pexels.com/photos/386025/pexels-photo-386025.jpeg);
}

.container1{
	text-align: center;
	/*margin-left: 600px;*/
}

.container2{
	text-align: center;
	/*margin-left: 600px;*/
}

#loginbtn2{
	/*background-color: blue;*/
}


/*SUNLIST PAGE*/
.categoriesSunlist{
	display: inline;
	width: 100%;
}

.categorysunNew {
			    border: 3px solid white;
			    display: inline-block;
			    /*margin: 20px;*/
			    border-radius: 20px;

			    margin: 0;
			    margin-left: 20px;
			    float: left;
			    width: 375px;
			    height: 600px;
				background-image: url("https://images.pexels.com/photos/358358/pexels-photo-358358.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
			    background-repeat: no-repeat;
			    background-size: cover;
			}

.listarea{
	display: inline-block;
	border-radius: 20px;
	/*text-align: center;*/
	margin-left: 100px;
	float: left;
	width: 70%;
    height: 600px;
    background-color: white;
    box-shadow: 5px 3px 5px grey;
}

.sunheader{
	text-align: center;
}

#sunformheader{
	text-align: center;
	text-decoration: underline;
}

#male {
	margin: 20px;
}

#female {
	margin: 20px;
}

#sunsubmit{
	color: black;
}

/*.checkbox{
	background-color: black;
}
*/

/*YERO TO DO LIST ON SUNLIST PAGE*/
		
		/*h1 .fa-check{
		font-size:30px;
		margin-right:10px;
		color:#0eb0b7;
		}*/

		#todo-list{
		width: 100%;
		margin:0 auto 50px auto;
		padding:50px;
		background:white;
		position:relative;
		/*box-shadow*/
	/*	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
		        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);*/
	/*	border-radius*/
	/*	-webkit-border-radius:5px;
		   -moz-border-radius:5px;
		        border-radius:5px;*/
		}

		#todo-list:before{
		content:"";
		position:absolute;
		z-index:-1;
		/*box-shadow*/
		-webkit-box-shadow:0 0 20px rgba(0,0,0,0.4);
		   -moz-box-shadow:0 0 20px rgba(0,0,0,0.4);
		        box-shadow:0 0 20px rgba(0,0,0,0.4);
		top:50%;
		bottom:0;
		left:10px;
		right:10px;
		/*border-radius*/
		-webkit-border-radius:100px / 10px;
		   -moz-border-radius:100px / 10px;
		        border-radius:100px / 10px;
		}

		.todo-wrap{
		display:block;
		position:relative;
		padding-left:35px;
		/*box-shadow*/
		-webkit-box-shadow:0 2px 0 -1px #ebebeb;
		   -moz-box-shadow:0 2px 0 -1px #ebebeb;
		        box-shadow:0 2px 0 -1px #ebebeb;
		}
		.todo-wrap:last-of-type{
		/*box-shadow*/
		-webkit-box-shadow:none;
		   -moz-box-shadow:none;
		        box-shadow:none;
		}
		
		input[type="checkbox"]{
		position:absolute;
		height:0;
		width:0;
		opacity:0;
		top:-600px;
		}

		.todo{
		display:inline-block;
		font-weight:200;
		padding:10px 5px;
		height:37px;
		position:relative;
		}
		
		.todo:before{
		content:'';
		display:block;
		position:absolute;
		top:calc(50% + 2px);
		left:0;
		width:0%;
		height:1px;
		background:#cd4400;
		/*transition*/
		-webkit-transition:.25s ease-in-out;
		   -moz-transition:.25s ease-in-out;
		     -o-transition:.25s ease-in-out;
		        transition:.25s ease-in-out;
		}
		
		.todo:after{
		content:'';
		display:block;
		position:absolute;
		z-index:0;
		height:18px;
		width:18px;
		top:9px;
		left:-25px;
		/*box-shadow*/
		-webkit-box-shadow:inset 0 0 0 2px #d8d8d8;
		   -moz-box-shadow:inset 0 0 0 2px #d8d8d8;
		        box-shadow:inset 0 0 0 2px #d8d8d8;
		/*transition*/
		-webkit-transition:.25s ease-in-out;
		   -moz-transition:.25s ease-in-out;
		     -o-transition:.25s ease-in-out;
		        transition:.25s ease-in-out;
		/*border-radius*/
		-webkit-border-radius:4px;
		   -moz-border-radius:4px;
		        border-radius:4px;
		}
		
		.todo:hover:after{
		/*box-shadow*/
		-webkit-box-shadow:inset 0 0 0 2px #949494;
		   -moz-box-shadow:inset 0 0 0 2px #949494;
		        box-shadow:inset 0 0 0 2px #949494;
		}
		
		.todo .fa-check{
		position:absolute;
		z-index:1;
		left:-31px;
		top:0;
		font-size:1px;
		line-height:36px;
		width:36px;
		height:36px;
		text-align:center;
		color:transparent;
		text-shadow:1px 1px 0 white, -1px -1px 0 white;
		}

		:checked + .todo{
		color:#717171;
		}

		:checked + .todo:before{
		/*width:100%;*/
		}

		:checked + .todo:after{
		/*box-shadow*/
		-webkit-box-shadow:inset 0 0 0 2px #0eb0b7;
		   -moz-box-shadow:inset 0 0 0 2px #0eb0b7;
		        box-shadow:inset 0 0 0 2px #0eb0b7;
		}

		/*check sign*/
		:checked + .todo .fa-check{
		font-size:20px;
		line-height:35px;
		color: #55D0E0; /*#0eb0b7;*/
		}

		/* Delete Items */

		.delete-item{
		display:block;
		position:absolute;
		height:36px;
		width:36px;
		line-height:36px;
		right:0;
		top:0;
		text-align:center;
		color: #55D0E0;/*#d8d8d8;*/
		opacity:0;
		}

		.todo-wrap:hover .delete-item{
		opacity:1;
		}
		.delete-item:hover{
		color:#cd4400;
		}

		/* Add Items */

		#add-todo{
		padding:25px 0 0 0;
		font-size:14px;
		font-weight:200;
		color: #55D0E0;
		display:inline-block;
		cursor:pointer;
		}
		#add-todo:hover{
		color: #527FC2;
		/*transition*/
		-webkit-transition:none;
		   -moz-transition:none;
		     -o-transition:none;
		        transition:none;
		}
		#add-todo .fa-plus{
		font-size:14px;
		/*transition*/
		-webkit-transition:none;
		   -moz-transition:none;
		     -o-transition:none;
		        transition:none;
		}
		.input-todo{
		border:none;
		outline:none;
		font-weight:200;
		position:relative;
		top:-1px;
		margin:0;
		padding:0;
		width:100%;
		}
		.editing{
		  height:0;
		  overflow:hidden;
		}

		.editing.todo-wrap {
		  box-shadow:0 0 400px rgba(0,0,0,.8),inset 0 0px 0 2px #ebebeb;
		}


/*END TODOIST CHECKLIST*/