doctype html
html
	head
		link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
	body.background
		div.navbar
			a(href='./') HOME
			br
			a(href='./catogories') CATOGORIES
			br
			a(href='./profile') PROFILE
			br
			a(href='./logout') LOGOUT
		div.text
			h1 Welcome to Before you go!
			h3 Log in here:
				form('/register', method='POST', autocomplete='off')
					input(type='text', name='email', placeholder='enter your email')
					br
					input(type='password', name='password', placeholder='enter your password')
					br
					button.btn.btn-default#register(type='submit', name='submit') LOG IN


			h3 Register here
				form(action='/register', method='POST', autocomplete='off')
					input(type='text', name='email', placeholder='enter your email')
					br
					input(type='password', name='password', placeholder='choose a password')
					br
					button.btn.btn-default#register(type='submit', value='submit') CREATE A NEW ACCOUNT
		
