doctype html
html
	head
		link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet' href='style.css' type='text/css')
	body.background
		div.navbar
			if user
				a(href='./') HOME
				a(href='./categories') CATEGORIES
				a(href='./profile') PROFILE
				a(href='./logout') LOGOUT
			else
		h3#error-message= message

		div.categoriesSunlist
			div.categorysunNew
				div.textsun
					h3 BEACH VACATION
					a.button.btn.btn-default#cat1(href='/sunlist', type='submit', name='submit') I CHOOSE SUN
			div.listarea
				div.sunheader
					h3#sunformheader BEACH LIST
					//- .button.btn.btn-default#male Male
					//- .button.btn.btn-default#female Female

					div.maleform
						h3 Choose the categories you would like for your packing list!
					
							//- NEED TO BE ABLE TO SEND EMPTY FORM!!

						form#todo-list(action='/sunlist' Method='POST' name='form')
							span.todo-wrap
								input#1(type='checkbox', checked='checked')
								label.todo(for='1')
									i.fa.fa-check
									|       Toiletries (e.g. toothbrush, soap, shampoo, etc.)

									br
								select#catt1a(name="cat1a")
									option(value="toothbrush/paste") toothbrush/paste
									option(value="body wash") body wash/lotion
									option(value="shampoo") shampoo/conditioner
									option(value="suncreen") sunscreen/aftersun
									option(value="make-up") make-up
									option(value="deodorant") deodorant
								select#catt2a(name="cat2a")
									option(value="toothbrush/paste") toothbrush/paste
									option(value="body wash") body wash/lotion
									option(value="shampoo") shampoo/conditioner
									option(value="suncreen") sunscreen/aftersun
									option(value="make-up") make-up
									option(value="deodorant") deodorant
								select#catt3a(name="cat3a")
									option(value="toothbrush/paste") toothbrush/paste
									option(value="body wash") body wash/lotion
									option(value="shampoo") shampoo/conditioner
									option(value="suncreen") sunscreen/aftersun
									option(value="make-up") make-up
									option(value="deodorant") deodorant
								select#catt4a(name="cat4a")
									option(value="toothbrush/paste") toothbrush/paste
									option(value="body wash") body wash/lotion
									option(value="shampoo") shampoo/conditioner
									option(value="suncreen") sunscreen/aftersun
									option(value="make-up") make-up
									option(value="deodorant") deodorant
								select#catt5a(name="cat5a")
									option(value="toothbrush/paste") toothbrush/paste
									option(value="body wash") body wash/lotion
									option(value="shampoo") shampoo/conditioner
									option(value="suncreen") sunscreen/aftersun
									option(value="make-up") make-up
									option(value="deodorant") deodorant
								select#catt6a(name="cat6a")
									option(value="toothbrush/paste") toothbrush/paste
									option(value="body wash") body wash/lotion
									option(value="shampoo") shampoo/conditioner
									option(value="suncreen") sunscreen/aftersun
									option(value="make-up") make-up
									option(value="deodorant") deodorant

								

										

								//- span.delete-item(title='remove')
								//- 	i.fa.fa-times-circle
							span.todo-wrap
								input#2(type='checkbox', checked='checked')
								label.todo(for='2')
									i.fa.fa-check
									|       Documentation (e.g. passport, visa, etc.)
								select#catt1b(name="cat1b")
									option(value="passport") passport
									option(value="visa") visa
									option(value="ticket (train/plane)") ticket (train/plane)
								select#catt2b(name="cat2b")
									option(value="passport") passport
									option(value="visa") visa
									option(value="ticket (train/plane)") ticket (train/plane)
								select#catt3b(name="cat3b")
									option(value="passport") passport
									option(value="visa") visa
									option(value="ticket (train/plane)") ticket (train/plane)

							span.todo-wrap
								input#3(type='checkbox', checked='checked')
								label.todo(for='3')
									i.fa.fa-check
									|      Clothing (e.g. swim trunks, towel, etc.)
								select#catt1c(name="cat1c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt2c(name="cat2c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt3c(name="cat3c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt4c(name="cat4c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt5c(name="cat5c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt6c(name="cat6c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt7c(name="cat7c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt8c(name="cat8c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket") jacket
								select#catt9c(name="cat9c")
									option(value="underwear") underwear
									option(value="swim trunks/bikinis") swim trunks/bikinis
									option(value="towels") towels
									option(value="shorts/skirts") shorts/skirts
									option(value="shirts/tops") shirts/tops
									option(value="flipflops") flipflops
									option(value="(beach)bag") (beach)bag
									option(value="pyjamas") pyjamas
									option(value="jacket/sweater") jacket/sweater


							
							//- #add-todo
							//- 	i.fa.fa-plus
							//- 	|     Add a Category
							br
							input#sunsubmit(type="submit", name="submit" value = 'SUBMIT') 	
							//- select(name="categories")
							//- 	option(value="toiletries") Toiletries
							//- 	option(value="documentation") Documentation

						//- li(data-value = 'Toiletries') Toiletries (e.g. toothbrush, soap, shampoo, etc.)
						//- li(data-value = 'Documentation') Documentation (e.g. passport, visa, etc.)
						//- li(data-value = 'Clothing') Clothing (e.g. swim trunks, towel, etc.)
					//- #myDIV.header
						
						//- input#myInput(type='text', placeholder='Packing category...')
						//- span.addBtn(onclick='newElement()') Add packing category
						//- br
						

	
		//- FOOTER
		footer#footer
				div.social-links
						H3 FIND US
						a(href='https://www.twitter.com')
							img(src='images/logo-twitter.png', width='40px', height='40px', alt='logo-twitter')
						a(href='https://www.facebook.com')
							img(src='images/logo-facebook.png', width='40px', height='40px', alt='logo-facebook')
						a(href='https://www.pinterest.com')
							img(src='images/logo-pinterest.png', width='40px', height='40px', alt='logo-pinterest')
						a(href='https://www.instagram.com')
							img(src= 'images/logo-instagram.png', width='40px', height='40px', alt='logo-instagram')
						p.copyright
						| © 2017 YEROSAM, All Rights Reserved.


		script(type='text/javascript' src='https://code.jquery.com/jquery-3.2.1.min.js')
		script
			include todolist.js
		//- /- jQuery
		script.
			$(document).ready(function () {
				
					$('input#1').on('click', function(){
						K("#catt1a");
					})

					$('input#2').on('click', function(){
						K("#catt1b");
					})

					$('input#3').on('click', function(){
						K("#catt1c");
					})
					
					var K = function(cattno){
					if(($(cattno).hasClass('hidden'))) {
						if(!($(this) === $('i.fa.fa-check'))){
							$(cattno).removeClass('hidden');
							$(cattno).siblings('select').removeClass('hidden');

							$(cattno).siblings('select').show();
							$(cattno).show();
						}
					} else {
						if(!($(this) === $('i.fa.fa-check'))) {
							$(cattno).addClass('hidden');
							$(cattno).siblings('select').addClass('hidden');
						}
					}
				};
			});



					//- $('#sunsubmit').on('click', function(){

					//- 	var data = {};
				 //-        data.value = $('#1').is(':checked') ? "toiletriezz" : "not selected";
				 //-        console.log(data)
				 //-        $.ajax({
				 //-            type: "POST",
				 //-            url: "/sunlist",
				 //-            data: data,
				 //-            success: function(data){
				 //-              console.log(data);
				 //-            }
				 //-        })
					//- });


			


			
					
					//- $('.todo').children().each(function(){
					//- 	if(!($(this).attr('checked'))){
					//- 	$(this).hide('#cat1')

					//- }
					//- else{
					//- 	console.log('zerooooooo')
					//- }
					
					//- })
			

				//- 	$('.todo').on('click', function(){
				//- 		if(!($(this).attr('checked'))){
				//- 		$('#cat1').hide()

				//- 	}
				//- 	else{
				//- 		console.log('zerooooooo')
				//- 	}
					
				//- 	})
				//- })
				
			


					
				//- 
				//- $('ul#myUL li').each(function(){
					
				//- })
			
				
				//- 	var input1 = $('#1').val(); 

				//- 	input1 = $('#li1').text();
				//- 	console.log(input1)

				//- 	$('#1').html(`<input>${input1}</input>`);

				 //- $('#sunsubmit').on('click', function(){
				 //- var category1 = $('#li1').data('value')
				 //- var category2 = $('#li1').data('value')
				 //- var category3 = $('#li1').data('value')
						
						//- $('#male').hide()
						//- $('#female').hide()
					//- 	})
						
						
				
					//- 		// still need to include a reset for the li's incase a user makes a mistake in filtering

					//- $('#myUL').children().each(function(){
					//- 	console.log(this)
					//- 	$(this).removeClass('checked');
						
					//- 	$(this).prepend("\u25b6")

					//- 	//still have to make li's unclickable, only hoverable					
					//- });
				//- })
				
				//- });

				//create hidden form (5 inputs)
				//list ur li's 
				//bind your li's to the input field in the form
				//jquery the submit button to display the lis in the form